{% macro displayPitches(pitches_arr) %}
    {% for pitch in pitches_arr %}
        <div class="jumbotron" style="background: #fdfdfd; border: solid; border-radius: 10px; border-color: #f0f0f0; border-width: 1px;">
            <div class="container">
                <a href="/pitch/{{pitch.id}}" class="text-primary"><h1>{{pitch.title}}</h1></a>
            </div>    
                <hr>
            <div class="container">
                <p>{{pitch.content}}</p>
                <h5 class="text-capitalize text-right text-muted"><span class="label label-default">{{pitch.category}}</span></h5>
                <div class="text-center">
                    <a href="/pitch/comment/new/{{pitch.id}}" class="btn btn-primary">Comment</a>
                </div>
                <br>
                <div class="text-center">
                    <a href="{{url_for('main.like', id=pitch.id)}}" class="btn btn-success">
                        <span class="glyphicon glyphicon-thumbs-up"></span> {{pitch.upvotes}}
                    </a>
                    <a href="{{url_for('main.dislike', id=pitch.id)}}" class="btn btn-danger">
                        <span class="glyphicon glyphicon-thumbs-down"></span> {{pitch.downvotes}}
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}
{% endmacro %}